<template>
  <div class="home">
    <h1>Task Management</h1>

    <h2>How To:</h2>
    <ol>
      <li><span class="font-weight-bold">Start Recording Tasks:</span> Go to the Auto Record or Manual Entry Tab and enter the required information.</li>
    </ol>
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
