<template>
<div>
  <h1>Manual Task Entry</h1>
  <v-autocomplete
    v-model="account"
    label="Account"
    :items="accounts"
    outlined
    dense
  />

  <v-text-field
    v-model="date"
    label="Start Date"
    type="date"
    outlined
    dense
  />
  <v-text-field
    v-model="startTime"
    label="Start Time"
    type="time"
    outlined
    dense
  />
  <v-text-field
    v-model="endTime"
    label="End Time"
    type="time"
    outlined
    dense
  />

  <v-textarea
    v-model="comment"
    label="Task Description"
    rows="2"
    outlined
    dense
  />

  <v-btn block :disabled="disabled" @click="save">Save Task</v-btn>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';

export default {
  data: () => ({
    account: '',
    date: moment().format('YYYY-MM-DD'),
    startTime: '',
    endTime: '',
    comment: ''
  }),

  computed: {
    ...mapState(['accounts']),
    disabled() {
      return !this.account || !this.date || !this.startTime || !this.endTime;
    },
    dates() {
      return {
        startTime: `${this.date} ${this.startTime}`,
        endTime: `${this.date} ${this.endTime}`
      }
    }
  },

  methods: {
    ...mapActions(['addTask']),
    save() {
      this.addTask({ account: this.account, comment: this.comment, ...this.dates });
      this.account = '';
      this.startDate = moment().format('YYYY-MM-DD');
      this.startTime = '';
      this.endDate = moment().format('YYYY-MM-DD');
      this.endTime = '';
      this.comment = '';
    }
  }
};
</script>
